@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Sekuya&display=swap');

.botao{
    background-color: #C2410C;
    border-color: #C2410C;
    border-radius: 50px;
    border-bottom: #C2410C;
}

body {
    background-color: #F97316;
}

.imagempg1{
    display: grid;
    place-items: center;
}

h1 {
    text-align: center;
    font-family: "Alfa Slab One", serif;
    background-color:#C2410C;
}

h2 {
    text-align: center;
    font-family: "Alfa Slab One", serif;
    background-color: #C2410C;
}

.pf1{
    background-color: #C2410C;
    border-color: #C2410C;
    text-align: center;
    width: 200px;
    padding: 0%;
    margin: 10px;
}

p{
    font-size: 30px;
}

.titulo{
    background-color: #C2410C;
}

label{
    font-size: 30px;
}

.caixa das aulas{
    background-color:#C2410C;
}

.pagina1{
    display: grid;
    margin: 15%;
    display: grid;
    place-items: center;
}

#butao1{
    border: 3px solid black;
    margin: 10px 10px;
    padding: 10px 40px;
    border-radius: 500px;
    background-color: #C2410C;
    color: black;
    font-size: 20px;
    font-family: Impact;
    font-weight: 500;
    cursor: pointer;
}

.pagina1-0{
    background-color: #C2410C;
    
}

a{
    color: black;
    font-size: 30px;
}

.youtube-1{
    display: grid;
    place-items: center;
}

.paragrafos{
    margin: 2%;
    text-align: left;
    
}

.texto-reto{
    text-align: left;
}

.video{
    display: grid;
    margin: 5%;
    display: grid;
    place-items: center;
}

.lista1{
    font-size: 30px;
}
    
.imagem2{
    background-color: #C2410C;
    border-radius: 100px;
    border-color: #C2410C;
}